.search-box {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
    background: #292929;
    color: #a4a4a4;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a4a4a4;
    opacity: 1; /* Firefox */
}
