.card-container {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background-color: #292929;
    border: 1px solid #292929;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

img {
    width: 235px;
    height: 235px;
}
.card-container:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    img {
        width: 200px;
        height: 200px;
    }
}

