body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: linear-gradient(
          to left,
          rgb(19, 20, 21) 0%,
          rgb(19, 20, 21) 100%
  ) no-repeat fixed;
  color: #e1e1e1;
}

.app-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 76px;
  font-family: 'Russo One', sans-serif
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .app-title {
    font-size: 50px;
  }
}





